<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
        ======= Employee details ======= <br>
      </p>
        <p>
           <p>Greeting</p><br>
            <%= @employee.fname %><br>
          <h4>Email ID: <%= @employee.email %></h4><br>
          <h4>Contact Number: <%= @employee.contact %></h4><br>
          <h4>Office Id: <%= @employee.office_id %></h4><br>
        </p>
    <p>
    <h3>Your new alloted seat number is:</h3><br>
    <h4><%= @employee.seat.seat_no %></h4>
    </p>
    <p>
  </body>
</html>