<h1>New</h1>

<%= form_with model: @employee do |form| %>
  <div>
    <%= form.label :First_Name%><br>
    <%= form.text_field :fname %>
  
  </div>

  <div>
    <%= form.label :Last_Name %><br>
    <%= form.text_field :lname %><br>
   
  </div>

   <div>
    <%= form.label :Office_ID %><br>
    <%= form.text_field :office_id %><br>
 
  </div>

   <div>
    <%= form.label :Email_ID %><br>
    <%= form.text_field :email %><br>
 
  </div>

   <div>
    <%= form.label :Contact_Number %><br>
    <%= form.text_field :contact %><br>
   
  </div>

  <div>
    <%= form.label :Seat_number %><br>
   <%= form.select:seat_id ,Seat.all.map{|s|s.id} , :prompt => 'Select Seat Number'%>
</div>

  <div>
    <%= form.label :Profile_Photo %><br>
    <%= form.file_field :avatar %>
  </div><br>

  <div>
    <%= form.submit %>
  </div>
<% end %>
